.harvets-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.harvets-header {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(123, 194, 112, 0.27);
}
.harvets-navlink {
  display: contents;
}
.harvets-container1 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.harvets-container1:hover {
  cursor: pointer;
}
.harvets-image {
  width: 49px;
  height: 49px;
}
.harvets-text {
  font-size: 1.2rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.harvets-nav {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.harvets-burger-menu {
  display: none;
}
.harvets-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.harvets-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.harvets-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.harvets-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.harvets-image1 {
  height: 2rem;
}
.harvets-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.harvets-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.harvets-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.harvets-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.harvets-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.harvets-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/countryside-6700296-1500h.jpg");
}
.harvets-text1 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-family: Montserrat;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.harvets-text2 {
  color: var(--dl-color-gray-white);
  width: 892px;
  font-size: 6rem;
  max-width: 900px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 2px;
}
.harvets-text2:hover {
  cursor: default;
  transform: scale(1.3);
}
.harvets-container3 {
  width: 100%;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.harvets-text3 {
  padding: var(--dl-space-space-unit);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-halfunit);
}
.harvets-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-unit);
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.harvets-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(123, 194, 112, 0.27);
}
.harvets-text4 {
  width: 50%;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.harvets-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-color: #000000;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  background-color: #ffffff;
}
.harvets-container4:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.harvets-text5 {
  color: rgb(0, 0, 0);
  width: auto;
  font-size: 1.2rem;
  align-self: center;
}
.harvets-text6 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.harvets-link {
  display: contents;
}
.harvets-container5 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: #4caf50;
}
.harvets-container5:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.harvets-icon10 {
  fill: #ffffff;
  width: 22px;
  height: 22px;
  align-self: center;
}
.harvets-text7 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 1.2rem;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
}
.harvets-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.harvets-image2 {
  width: 77px;
  height: 77px;
  object-fit: cover;
}
.harvets-text8 {
  align-self: center;
}
@media(max-width: 1600px) {
  .harvets-text4 {
    font-size: 1.2rem;
  }
}
@media(max-width: 1200px) {
  .harvets-text4 {
    font-size: 1rem;
  }
  .harvets-container4 {
    width: auto;
    height: auto;
  }
  .harvets-text5 {
    font-size: 0.8rem;
    font-family: Montserrat;
  }
  .harvets-text6 {
    font-size: 1rem;
  }
  .harvets-container5 {
    width: auto;
    height: auto;
    justify-content: flex-start;
  }
  .harvets-icon10 {
    width: 14px;
    height: 14px;
  }
  .harvets-text7 {
    font-size: 0.8rem;
    font-family: Montserrat;
  }
}
@media(max-width: 991px) {
  .harvets-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .harvets-text4 {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .harvets-container4 {
    margin-left: auto;
    margin-right: auto;
  }
  .harvets-text5 {
    font-size: 0.8rem;
    padding-left: var(--dl-space-space-halfunit);
  }
  .harvets-text6 {
    font-size: 0.8rem;
  }
  .harvets-container5 {
    margin-left: auto;
    margin-right: auto;
  }
  .harvets-icon10 {
    width: 14px;
    height: 14px;
  }
  .harvets-text7 {
    font-size: 0.8rem;
    padding-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .harvets-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .harvets-nav {
    display: none;
  }
  .harvets-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .harvets-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .harvets-text2 {
    width: 695px;
  }
  .harvets-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .harvets-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .harvets-text4 {
    font-size: 0.8rem;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .harvets-text5 {
    font-size: 0.8rem;
    padding-left: 0px;
  }
  .harvets-icon10 {
    width: 16px;
    height: 16px;
  }
  .harvets-text7 {
    font-size: 0.8rem;
    padding-left: var(--dl-space-space-halfunit);
  }
  .harvets-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .harvets-text8 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .harvets-header {
    padding: var(--dl-space-space-unit);
  }
  .harvets-nav {
    display: none;
  }
  .harvets-mobile-menu {
    display: none;
    padding: 16px;
  }
  .harvets-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .harvets-text1 {
    font-size: 0.8rem;
  }
  .harvets-text2 {
    width: auto;
    font-size: 3rem;
    max-width: 900px;
    padding-right: 0px;
  }
  .harvets-text3 {
    font-size: 2rem;
  }
  .harvets-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .harvets-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .harvets-text4 {
    font-size: 0.5rem;
  }
  .harvets-container4 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .harvets-text5 {
    font-size: 12px;
  }
  .harvets-text6 {
    font-size: 0.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .harvets-container5 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .harvets-icon10 {
    width: 16px;
    height: 16px;
  }
  .harvets-text7 {
    font-size: 12px;
  }
  .harvets-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .harvets-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .harvets-text8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
